# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. C++
5. Java
6. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

In [10]:
### Below are a few examples of evaluating arithmetic expressions in Python

x = 18
y = 3
z = 5

print(x - y)

print(x + y)

print((x - y)/z)

15
21
3.0

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60
# minutes = 200
# hours = minutes/60
200/60

3.3333333333333335

# *Objectives:*

List popular languages for Data Science

* Python
* R
* Julia
* C++
* Java
* SQL

## Author
Carlos Andrés Guzmán Gil